* {
    box-sizing: border-box;
    margin: 0;
    font-family: Helvetica,Arial,sans-serif;
  }
html{
    font-size: 10px;
}
  :root{
      --main-bg-color: #1c2128;
      --secondary-bg-color: #39464e;
  }
  a,
  a:visited{
      color: lightskyblue;
  }

button:focus,
input:focus { 
    outline: none; 
}

button{
    background:#000000;
    color: #fff;
    border:1px solid #fff;
    padding: 5px 15px;
    margin: 0;
    transition: all 0.5s; 
    font-size: 1.6rem;
}

button:hover{
    background:var(--main-bg-color);
    cursor: pointer;
}

button:disabled{
    opacity: .5;
}

.app-wrapper{
    display: grid;
    grid-template-rows: calc(100vh - 2rem);
    grid-template-columns: 1fr 5fr;
    grid-gap: 10px;
    background:var(--main-bg-color);
    font-size: 1.6rem;
    padding: 1rem;
    grid-template-areas:
        "sidebar content"
}
.people{
    grid-area: sidebar;
}

.chat{
    display: grid;
    grid-template-rows: 1fr auto;
    grid-row-gap: 10px;
    grid-area: content;
}

.messages{
    margin: 0;
    padding: 20px;
    color: #fff;
    list-style: none;
    overflow: auto;
}

.message{
    margin-top: 10px;
}

.rounded{
    border-radius: 15px;
    background: var(--secondary-bg-color);
}

.message-form{
    display: grid;
    grid-template-columns: 1fr auto auto;
    grid-column-gap: 10px;
    padding: 15px 7px;
}

.message-form input[type=text]{
    margin: 0;
    padding: 0;
    background: none;
    border: 0;
    color: #fff;
    font-size: 1.6rem;
}

.from{
    font-weight: bold;
}

.created{
    color: gray;
}

@media (max-width: 700px) {
    .app-wrapper{
        grid-template-areas:
            "content"
    }

    .chat{
        grid-column: 1 / 5;
    }
    .people{
        display: none;
    }
  }